
# Gemini API
GEMINI_API_KEY=

# Supabase
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# Stripe API
STRIPE_SECRET_KEY=

# SMTP Configuration
SMTP_HOST=mail.robnet.com.br
SMTP_PORT=465
SMTP_USER=finaai@robnet.com.br
SMTP_PASS=
